<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <footer style="font-weight: bolder">
        <!-- this is footer -->
        &copy; 2022 Joshua Centille Spring Boot 2.74 Java 8
            <span sec:authorize="isAuthenticated()">
                | Logged In User: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>

        <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"/>

        </footer>
    </div>

</div>
</body>
</html>