<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Cybercrime List</title>

    <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body th:style="'height: 100%; margin: 0; background-image: linear-gradient(rgb(168, 235, 238),rgb(0, 39, 58)); background-repeat: no-repeat; background-attachment: fixed;'">

<div th:replace="fragments/header :: header"/>

<div th:style="'margin: auto; text-align:left; width:1200px; border:5px solid; background-color: white;'">
<div class="container">
    <div>
        <h1>Cybercrime List</h1>
        <a href="/new-cybercrime">Create New Cybercrime</a>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Severity Level</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${cybercrimeList.empty}">
                <td colspan="3"> No Cybercrime records exist! </td>
            </tr>
            <tr th:each="cybercrime : ${cybercrimeList}">
                <td th:text="${cybercrime.id}"></td>
                <td th:text="${cybercrime.cybercrimeType}"></td>
                <td th:text="${cybercrime.severityLevel}"></td>
                <td>
                    <a th:href="@{'/edit-cybercrime/' + ${cybercrime.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete-cybercrime/' + ${cybercrime.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <form th:action="@{/admin}">
        <button type="submit">Go back</button>
    </form>
</div>

<br><br>

<div th:replace="fragments/footer :: footer"/>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>

</body>
</html>