<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Cybercrime List</title>

  <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

  <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
  <div>
    <h1>Cybercrimes List</h1>
    <br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Cybercrimes ID</th>
        <th>Cybercrime Type</th>
        <th>Person Name</th>
        <th>Punishment</th>
        <th>Arrest Date</th>
        <th>Sentencing Date</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${cybercrimesList.empty}">
        <td colspan="3"> No Cybercrime records exist! </td>
      </tr>
      <tr th:each="cybercrimes : ${cybercrimesList}">
        <td th:text="${cybercrimes.id}"></td>
        <td th:text="${cybercrimes.getCybercrimeID().cybercrimeType}"></td>
        <td th:text="${cybercrimes.getPersonID().getFirstName()} + ' ' + ${cybercrimes.getPersonID().getLastName()}"></td>
        <td th:text="${cybercrimes.punishment}"></td>
        <td th:text="${cybercrimes.arrestDate}"></td>
        <td th:text="${cybercrimes.sentencingDate}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<br><br>

<div th:replace="fragments/footer :: footer"/>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>

</body>
</html>