<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="#{label.pages.home.title}">dashboard</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

  <div class="starter-template">
    <h1 th:utext="#{label.pages.home.message}">home</h1>
    <h2>1. <a th:href="@{/search}">Search for a Cybercrime</a></h2>
    <h2>2. <a th:href="@{/search-all}">Display All Cybercrime Table Records</a></h2>
    <h2>3. <a th:href="@{/admin}">Admin page (Need Admin Role)</a></h2>
  </div>

</div>
<!-- /.container -->

<br><br>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>