<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="#{label.pages.home.title}">dashboard</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body th:style="'height: 100%; margin: 0; background-image: linear-gradient(rgb(168, 235, 238),rgb(0, 39, 58)); background-repeat: no-repeat; background-attachment: fixed;'">

<div th:replace="fragments/header :: header"/>

<div th:style="'margin: auto; text-align:left; width:1200px; border:5px solid; background-color: white;'">
<div class="container">

  <div class="starter-template">
    <h1 th:utext="#{label.pages.home.message}">home</h1>
    <h2>1. <a th:href="@{/search}" style="color: #0e0e0e; font-weight: bolder">Search for a Cybercrime</a></h2>
    <h2>2. <a th:href="@{/admin}" style="color: #0e0e0e; font-weight: bolder">Admin page (Need Admin Role)</a></h2>
  </div>

</div>
    <br><br>
    <div th:replace="fragments/footer :: footer"/>
</div>
<!-- /.container -->

<br><br>


</body>
</html>