<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>New Person</title>

  <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

  <div th:replace="fragments/header :: header-css"/>
</head>
<body th:style="'height: 100%; margin: 0; background-image: linear-gradient(rgb(168, 235, 238),rgb(0, 39, 58)); background-repeat: no-repeat; background-attachment: fixed;'">

<div th:replace="fragments/header :: header"/>

<div th:style="'margin: auto; text-align:left; width:1200px; border:5px solid; background-color: white;'">
<div class="container">
  <h1>Create New Person</h1>
  <br />
  <form action="#" th:action="@{/save-person}" th:object="${person}"
        method="post">

    <table class="table table-striped">
      <tr>
        <td>Person Type ID:</td>
        <td><input type="text" th:field="*{personTypeID}" /></td>
      </tr>
      <tr>
        <td>First Name:</td>
        <td><input type="text" th:field="*{firstName}" /></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><input type="text" th:field="*{lastName}" /></td>
      </tr>
      <tr>
        <td>Age:</td>
        <td><input type="text" th:field="*{age}" /></td>
      </tr>
      <tr>
        <td>Street Address:</td>
        <td><input type="text" th:field="*{streetAddress}" /></td>
      </tr>
      <tr>
        <td>City:</td>
        <td><input type="text" th:field="*{city}" /></td>
      </tr>
      <tr>
        <td>State:</td>
        <td><input type="text" th:field="*{state}" /></td>
      </tr>
      <tr>
        <td>Zip Code:</td>
        <td><input type="text" th:field="*{zipCode}" /></td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit">Save</button> </td>
      </tr>
    </table>
  </form>
</div>

<br><br>

<div th:replace="fragments/footer :: footer"/>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>

</body>
</html>