<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Person Type List</title>

  <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

  <div th:replace="fragments/header :: header-css"/>
</head>
<body th:style="'height: 100%; margin: 0; background-image: linear-gradient(rgb(168, 235, 238),rgb(0, 39, 58)); background-repeat: no-repeat; background-attachment: fixed;'">

<div th:replace="fragments/header :: header"/>

<div th:style="'margin: auto; text-align:left; width:1200px; border:5px solid; background-color: white;'">
<div class="container">
  <div>
    <h1>Person Type List</h1>
    <a href="/new-persontype">Create New Person Type</a>
    <br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Person Type ID</th>
        <th>Person Type</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${personTypeList.empty}">
        <td colspan="3"> No Person Type records exist! </td>
      </tr>
      <tr th:each="personType : ${personTypeList}">
        <td th:text="${personType.id}"></td>
        <td th:text="${personType.personType}"></td>

        <td>
          <a th:href="@{'/edit-persontype/' + ${personType.id}}">Edit</a>
          &nbsp;&nbsp;&nbsp;
          <a th:href="@{'/delete-persontype/' + ${personType.id}}">Delete</a>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
  <form th:action="@{/admin}">
    <button type="submit">Go back</button>
  </form>
</div>

<br><br>

<div th:replace="fragments/footer :: footer"/>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>

</body>
</html>