<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Search Cybercrime</title>

    <link th:rel="stylesheet" th:href="@{/assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body th:style="'height: 100%; margin: 0; background-image: linear-gradient(rgb(168, 235, 238),rgb(0, 39, 58)); background-repeat: no-repeat; background-attachment: fixed;'">

<div th:replace="fragments/header :: header"/>

<div class="starter-template">

    <div th:style="'margin: auto; text-align:left; width:1200px; border:5px solid; background-color: white;'">
    <div class="container">
        <h1>Enter Search Parameters</h1>
        <br>

        <div class="row">
            <div class="col-md-4 mt-5">
                <form method="post" th:object="${cyberSearch}">

                    <div class="form-group">
                        <label for="cybercrimeType">Cybercrime</label>
                        <select class="selectpicker form-control" th:field="*{cybercrimeType}"  id="cybercrimeType">
                            <option value="">Nothing selected</option>
                            <option th:each="cybercrime : ${cybercrimeList}"
                                    th:value="${cybercrime.id}"
                                    th:text="${cybercrime.cybercrimeType}">cybercrimeType
                            </option>

                        </select>
                    </div>


                    <div class="form-group">
                        <label for="punishment">Punishment</label>
                        <select class="selectpicker form-control" th:field="*{punishment}"  id="punishment">
                            <option value="">Nothing selected</option>
                            <option th:each="cybercrimes : ${cybercrimesList}"
                                    th:value="${cybercrimes.punishment}"
                                    th:text="${cybercrimes.punishment}">punishment
                            </option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="arrestDate">Arrest Date</label>
                        <select class="selectpicker form-control" th:field="*{arrestDate}"  id="arrestDate">
                            <option value="">Nothing selected</option>
                            <option th:each="cybercrimes : ${cybercrimesList}"
                                    th:value="${cybercrimes.arrestDate}"
                                    th:text="${cybercrimes.arrestDate}">arrestDate
                            </option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="sentencingDate">Sentencing Date</label>
                        <select class="selectpicker form-control" th:field="*{sentencingDate}"  id="sentencingDate">
                            <option value="">Nothing selected</option>
                            <option th:each="cybercrimes : ${cybercrimesList}"
                                    th:value="${cybercrimes.sentencingDate}"
                                    th:text="${cybercrimes.sentencingDate}">sentencingDate
                            </option>

                        </select>
                    </div>


                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <select class="selectpicker form-control" th:field="*{firstName}"  id="firstName">
                            <option value="">Nothing selected</option>
                            <option th:each="person : ${personList}"
                                    th:value="${person.firstName}"
                                    th:text="${person.firstName}">firstName
                            </option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <select class="selectpicker form-control" th:field="*{lastName}"  id="lastName">
                            <option value="">Nothing selected</option>
                            <option th:each="person : ${personList}"
                                    th:value="${person.lastName}"
                                    th:text="${person.lastName}">lastName
                            </option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="age">Age</label>
                        <select class="selectpicker form-control" th:field="*{age}"  id="age">
                            <option value="">Nothing selected</option>
                            <option th:each="person : ${personList}"
                                    th:value="${person.age}"
                                    th:text="${person.age}">age
                            </option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="streetAddress">Street Address</label>
                        <select class="selectpicker form-control" th:field="*{streetAddress}"  id="streetAddress">
                            <option value="">Nothing selected</option>
                            <option th:each="person : ${personList}"
                                    th:value="${person.streetAddress}"
                                    th:text="${person.streetAddress}">streetAddress
                            </option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="city">City</label>
                        <select class="selectpicker form-control" th:field="*{city}"  id="city">
                            <option value="">Nothing selected</option>
                            <option th:each="person : ${personList}"
                                    th:value="${person.city}"
                                    th:text="${person.city}">city
                            </option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="state">State</label>
                        <select class="selectpicker form-control" th:field="*{state}"  id="state">
                            <option value="">Nothing selected</option>
                            <option th:each="State : ${stateList}"
                                    th:value="${State}"
                                    th:text="${State}">state
                            </option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="zipcode">Zipcode</label>
                        <select class="selectpicker form-control" th:field="*{zipcode}"  id="zipcode">
                            <option value="">Nothing selected</option>
                            <option th:each="person : ${personList}"
                                    th:value="${person.zipCode}"
                                    th:text="${person.zipCode}">zipcode
                            </option>

                        </select>
                    </div>


                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>

    </div>
        <br><br>
        <div th:replace="fragments/footer :: footer"/>
    </div>
</div>

<br><br>




<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>

</body>
</html>