<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <title>Saved Page</title>

      <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>


<div class="container">
  <div class="mt-5">Cybercrime: <strong th:text="${cyberSearch.cybercrime}"></strong></div>
  <div>Severity: <strong th:text="${cyberSearch.severity}"></strong></div>

    <br>
  <a th:href="@{/search}" class="btn btn-primary mt-5">Go back</a>
</div>

<br><br>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>