<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <title>Saved Page</title>
      <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
  <div>
    <h1>Cybercrime Search Results</h1>
    <br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Cybercrimes ID</th>
        <th>Cybercrime Type</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${#lists.isEmpty(cyberResult)}">
        <td colspan="3"> No Cybercrime Results! </td>
      </tr>
      <tr th:each="cyberCrimes : ${cyberResult}">
        <td th:text="${cyberCrimes.id}"></td>
        <td th:text="${cyberCrimes.getCybercrimeID().cybercrimeType}"></td>
        <td th:text="${cyberCrimes.getPersonID().firstName + ' ' + cyberCrimes.getPersonID().lastName}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<br><br>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>