<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>View Cybercrime</title>

  <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/css/bootstrap.min.css} "/>

  <div th:replace="fragments/header :: header-css"/>
</head>
<body th:style="'height: 100%; margin: 0; background-image: linear-gradient(rgb(168, 235, 238),rgb(0, 39, 58)); background-repeat: no-repeat; background-attachment: fixed;'">

<div th:replace="fragments/header :: header"/>

<div th:style="'margin: auto; text-align:left; width:1200px; border:5px solid; background-color: white;'">
<div class="container">
  <h1>View Cybercrime</h1>
  <br />

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Cybercrimes ID</th>
        <th>Cybercrime Type</th>
        <th>Person Name</th>
        <th>Severity</th>
        <th>Punishment</th>
        <th>Arrest Date</th>
        <th>Sentencing Date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td th:text="${cybercrimes.id}"></td>
        <td th:text="${cybercrimes.getCybercrimeID().cybercrimeType}"></td>
        <td th:text="${cybercrimes.getPersonID().getFirstName()} + ' ' + ${cybercrimes.getPersonID().getLastName()}"></td>
        <td th:text="${cybercrimes.getCybercrimeID().severityLevel}"></td>
        <td th:text="${cybercrimes.punishment}"></td>
        <td th:text="${cybercrimes.arrestDate}"></td>
        <td th:text="${cybercrimes.sentencingDate}"></td>
      </tr>
      </tbody>
    </table>

  <a th:href="@{'/searchResults-Refresh'}">Go Back</a>


</div>

<br><br>

<div th:replace="fragments/footer :: footer"/>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>

</body>
</html>